{{ if .Values.cft.licenseKey.createSecretFile }}
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "transfer-cft.fullname" . }}-{{ .Values.cft.licenseKey.secretName }}
  namespace: {{ .Release.Namespace | quote }}
  labels:
    {{- include "transfer-cft.labels" . | nindent 4 }}
    {{- if .Values.podLabels }}
    {{- toYaml .Values.podLabels | nindent 4 }}
    {{- end }}
type: Opaque
data:
  {{ .Values.cft.licenseKey.secretName | quote }} : |-
    {{ .Files.Get .Values.cft.licenseKey.localFile | b64enc }}
{{ end -}}

{{- if .Values.cft.cg }}
{{- if .Values.cft.cg.caCert.createSecretFile }}
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "transfer-cft.fullname" . }}-{{ .Values.cft.cg.caCert.secretName }}
  namespace: {{ .Release.Namespace | quote }}
  labels:
    {{- include "transfer-cft.labels" . | nindent 4 }}
    {{- if .Values.podLabels }}
    {{- toYaml .Values.podLabels | nindent 4 }}
    {{- end }}
type: Opaque
data:
  {{ .Values.cft.cg.caCert.secretName | quote }} : |-
    {{ .Files.Get .Values.cft.cg.caCert.localFile | b64enc }}
{{ end -}}

{{- if .Values.cft.cg.sharedSecret.createSecretFile }}
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "transfer-cft.fullname" . }}-{{ .Values.cft.cg.sharedSecret.secretName }}
  namespace: {{ .Release.Namespace | quote }}
  labels:
    {{- include "transfer-cft.labels" . | nindent 4 }}
    {{- if .Values.podLabels }}
    {{- toYaml .Values.podLabels | nindent 4 }}
    {{- end }}
type: Opaque
data:
  {{ .Values.cft.cg.sharedSecret.secretName | quote }} : |-
    {{ .Files.Get .Values.cft.cg.sharedSecret.localFile | b64enc }}
{{ end -}}
{{- end }}

{{- if .Values.cft.copilotCert }}
{{- if .Values.cft.copilotCert.createSecretFile }}
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "transfer-cft.fullname" . }}-{{ .Values.cft.copilotCert.secretName }}
  namespace: {{ .Release.Namespace | quote }}
  labels:
    {{- include "transfer-cft.labels" . | nindent 4 }}
    {{- if .Values.podLabels }}
    {{- toYaml .Values.podLabels | nindent 4 }}
    {{- end }}
type: Opaque
data:
  {{ .Values.cft.copilotCert.secretName | quote }} : |-
    {{ .Files.Get .Values.cft.copilotCert.localFile | b64enc }}
{{ end -}}
{{- end }}

{{- if .Values.cft.copilotCertPassword }}
{{- if .Values.cft.copilotCertPassword.createSecretFile }}
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "transfer-cft.fullname" . }}-{{ .Values.cft.copilotCertPassword.secretName }}
  namespace: {{ .Release.Namespace | quote }}
  labels:
    {{- include "transfer-cft.labels" . | nindent 4 }}
    {{- if .Values.podLabels }}
    {{- toYaml .Values.podLabels | nindent 4 }}
    {{- end }}
type: Opaque
data:
  {{ .Values.cft.copilotCertPassword.secretName | quote }} : |-
    {{ .Files.Get .Values.cft.copilotCertPassword.localFile | b64enc }}
{{ end -}}
{{- end }}

{{- if .Values.cft.sentinel }}
{{- if .Values.cft.sentinel.caCert.createSecretFile }}
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "transfer-cft.fullname" . }}-{{ .Values.cft.sentinel.caCert.secretName }}
  namespace: {{ .Release.Namespace | quote }}
  labels:
    {{- include "transfer-cft.labels" . | nindent 4 }}
    {{- if .Values.podLabels }}
    {{- toYaml .Values.podLabels | nindent 4 }}
    {{- end }}
type: Opaque
data:
  {{ .Values.cft.sentinel.caCert.secretName | quote }} : |-
    {{ .Files.Get .Values.cft.sentinel.caCert.localFile | b64enc }}
{{ end -}}
{{- end }}

{{- if .Values.cft.xfbadmPassword }}
{{- if .Values.cft.xfbadmPassword.createSecretFile }}
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "transfer-cft.fullname" . }}-{{ .Values.cft.xfbadmPassword.secretName }}
  namespace: {{ .Release.Namespace | quote }}
  labels:
    {{- include "transfer-cft.labels" . | nindent 4 }}
    {{- if .Values.podLabels }}
    {{- toYaml .Values.podLabels | nindent 4 }}
    {{- end }}
type: Opaque
data:
  {{ .Values.cft.xfbadmPassword.secretName | quote }} : |-
    {{ .Files.Get .Values.cft.xfbadmPassword.localFile | b64enc }}
{{ end -}}
{{- end }}

{{- if .Values.cft.apiPassword }}
{{- if .Values.cft.apiPassword.createSecretFile }}
{{- if .Values.cft.apiPassword.localFile }}
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "transfer-cft.fullname" . }}-{{ .Values.cft.apiPassword.secretName }}
  namespace: {{ .Release.Namespace | quote }}
  labels:
    {{- include "transfer-cft.labels" . | nindent 4 }}
    {{- if .Values.podLabels }}
    {{- toYaml .Values.podLabels | nindent 4 }}
    {{- end }}
type: Opaque
data:
  {{ .Values.cft.apiPassword.secretName | quote }} : |-
    {{ .Files.Get .Values.cft.apiPassword.localFile | b64enc }}
{{ end -}}
{{- end }}
{{- end }}

{{- if .Values.cft.apiToken }}
{{- if .Values.cft.apiToken.createSecretFile }}
{{- if .Values.cft.apiToken.localFile }}
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "transfer-cft.fullname" . }}-{{ .Values.cft.apiToken.secretName }}
  namespace: {{ .Release.Namespace | quote }}
  labels:
    {{- include "transfer-cft.labels" . | nindent 4 }}
    {{- if .Values.podLabels }}
    {{- toYaml .Values.podLabels | nindent 4 }}
    {{- end }}
type: Opaque
data:
  {{ .Values.cft.apiToken.secretName | quote }} : |-
    {{ .Files.Get .Values.cft.apiToken.localFile | b64enc }}
{{ end -}}
{{- end }}
{{- end }}
