{{- if .Values.serviceAccount.create }}
apiVersion: v1
kind: ServiceAccount
metadata:
  labels:
    {{- include "transfer-cft.labels" . | nindent 4 }}
    {{- if .Values.podLabels }}
    {{ toYaml .Values.podLabels }}
    {{- end }}
  name: {{ template "transfer-cft.serviceAccountName" . }}
  namespace: {{ .Release.Namespace | quote }}
{{- end }}
